In [70]:
import pandas as pd
# Python3 code here creating class 
class geeks: 
	def __init__(self, name, roll): 
		self.name = name 
		self.roll = roll 

# creating list	 
listt = [] 

clist=[]
# appending instances to list 
listt.append( geeks('Akash', 2) ) 
listt.append( geeks('Deependra', 40) ) 
listt.append( geeks('Reaper', 44) ) 

listt

c=0
for obj in listt: 
  clist.append([obj.name,obj.roll])


  # c+=1
# We can also access instances attributes 
# as list[0].name, list[0].roll and so on.

df = pd.DataFrame(clist, columns=["Name", "Roll Number"])
df

        Name  Roll Number
0      Akash            2
1  Deependra           40
2     Reaper           44